openapi: 3.0.3
info:
  description: |-
    Sumsub is the one verification platform to secure the whole user journey. With Sumsub's customizable KYC, KYB, transaction monitoring and fraud prevention solutions, you can orchestrate your verification process, welcome more customers worldwide, meet compliance requirements, reduce costs and protect your business.

    Sumsub has over 2,000 clients in fintech, crypto, transportation, trading, e-commerce and gaming industries including Binance, Wirex, Avis, Bybit, Huobi, Unlimit, Flutter, Kaizen Gaming, and TransferGo.
  title: Sumsub API
  version: "1.0"
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
  x-konfig-has-globally-required-security: true
  x-konfig-uses-multipart-form-data: true
servers:
- url: https://api.sumsub.com
security:
- sec0: []
tags:
- name: Applicant
- name: Transaction
- name: Check
- name: Note
- name: Token
- name: Image
- name: VASP
- name: Health
- name: AuditTrailEvent
- name: Tag
- name: Analysis
- name: WebSDKLink
- name: Inspection
paths:
  /resources/status/api:
    get:
      deprecated: false
      description: ""
      operationId: Health_statusApiGet
      responses:
        "200":
          description: OK
      summary: API health
      tags:
      - Health
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-status-api
      x-accepts: application/json
  /resources/applicants:
    patch:
      deprecated: false
      description: Changes existing verification level configuration.
      operationId: Applicant_updateTopLevelInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantUpdateTopLevelInfoRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantUpdateTopLevelInfoRequest1'
      responses:
        "200":
          description: OK
      summary: Change top-level information
      tags:
      - Applicant
      x-readme:
        code-samples:
        - language: curl
          code: |
            curl -X PATCH \
                'https://api.sumsub.com/resources/applicants' \
                -H 'Content-Type: application/json' \
                -d '{"id":"5e9ad53d0a975a656d67e4d0","externalUserId":"1983114","email":"new@email.nz"}'
        samples-languages:
        - curl
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--resources-applicants
      x-content-type: application/json
      x-accepts: application/json
  /resources/applicants/{applicantId}/moveToLevel:
    post:
      deprecated: false
      description: Changes the list of required documents.
      operationId: Applicant_changeRequiredDocumentSet
      parameters:
      - description: "A [verification level](https://docs.sumsub.com/reference) name.\
          \ Case-sensitive and has to be created in the same environment. If contains\
          \ reserved characters (e.g., `@`, `+\"`, white spaces as `%20`), it should\
          \ be URL-encoded, otherwise you may get signature mismatch."
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Change required document set
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicants-applicantId-moveToLevel
      x-accepts: application/json
  /resources/applicants/{applicantId}/requiredIdDocs:
    post:
      deprecated: false
      description: Returns the list of required documents.
      operationId: Applicant_getRequiredIdDocs
      parameters:
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Get required ID documents
      tags:
      - Applicant
      x-readme:
        code-samples:
        - language: curl
          code: |
            curl -X POST \
              'https://api.sumsub.com/resources/applicants/5f80e6b7155a6336271e4677/requiredIdDocs' \
              -H 'Content-Type: application/json'
        samples-languages:
        - curl
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicants-applicantId-requiredIdDocs
      x-accepts: application/json
  /resources/applicants/{applicantId}/info/idDoc:
    post:
      deprecated: false
      description: Adds an identification document to be verified.
      operationId: Applicant_addIdDocument
      parameters:
      - description: '`true` / `false`'
        explode: false
        in: header
        name: X-Return-Doc-Warnings
        required: true
        schema:
          type: boolean
        style: simple
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantAddIdDocumentRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantAddIdDocumentRequest1'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "idDocType": "PASSPORT",
                      "country": "USA",
                      "errors": [ "dataNotReadable" ] // will be absent in case of X-Return-Doc-Warnings not having value of "true"
                    }
              schema:
                $ref: '#/components/schemas/ApplicantAddIdDocumentResponse'
          description: "200"
      summary: Add ID document
      tags:
      - Applicant
      x-readme:
        code-samples:
        - language: curl
          code: |
            curl -X POST \
              'https://api.sumsub.com/resources/applicants/5b75a5e80a975a3ef2102a87/info/idDoc' \
              -H 'Content-Type: multipart/form-data' \
              -H 'X-Return-Doc-Warnings: true' \
              -F 'metadata={"idDocType":"PASSPORT","country":"USA"}' \
              -F 'content=@/SumSub/Example/name.jpg'
        samples-languages:
        - curl
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicants-applicantId-info-idDoc
      x-content-type: application/json
      x-accepts: application/json
  /resources/applicants/{applicantId}/fixedInfo:
    patch:
      deprecated: false
      description: "Updates information provided when [creating an applicant](ref:create-applicants)."
      operationId: Applicant_updateFixedInfo
      parameters:
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantUpdateFixedInfoRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantUpdateFixedInfoRequest1'
      responses:
        "200":
          description: OK
      summary: Change provided information
      tags:
      - Applicant
      x-readme:
        code-samples:
        - language: curl
          code: |
            curl -X PATCH \
              'https://api.sumsub.com/resources/applicants/609d68bf460647000aa2d87e/fixedInfo' \
              -H 'Content-Type: application/json' \
              -d '{
                    "firstName" : "Bradley",
                    "lastName" : "Peak",
                    "dob" : "1990-01-01"
                  }'
        samples-languages:
        - curl
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--resources-applicants-applicantId-fixedInfo
      x-content-type: application/json
      x-accepts: application/json
  /resources/applicants/{applicantId}/info:
    patch:
      deprecated: false
      description: Changes extracted information.
      operationId: Applicant_changeExtractedInfo
      parameters:
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantChangeExtractedInfoRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantChangeExtractedInfoRequest1'
      responses:
        "200":
          description: OK
      summary: Change information extracted by Sumsub
      tags:
      - Applicant
      x-readme:
        code-samples:
        - language: curl
          code: |
            curl -X PATCH \
              'https://api.sumsub.com/resources/applicants/5b76df770a975a1404cbcb60/info' \
              -H 'Content-Type: application/json' \
              -d '{
                    "firstName" : "Andrew",
                    "dob" : "1990-05-01"
                  }'
        samples-languages:
        - curl
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--resources-applicants-applicantId-info
      x-content-type: application/json
      x-accepts: application/json
  /resources/applicants/-/ingestCompleted?levelName={levelName}:
    post:
      deprecated: false
      description: Imports applicants.
      operationId: Applicant_importCompleted
      parameters:
      - description: "A [verification level](https://docs.sumsub.com/reference) name.\
          \ Case-sensitive and has to be created in the same environment. If contains\
          \ reserved characters (e.g., `@`, `+\"`, white spaces as `%20`), it should\
          \ be URL-encoded, otherwise you may get signature mismatch."
        explode: true
        in: query
        name: levelName
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantImportCompletedRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantImportCompletedRequest1'
      responses:
        "200":
          description: OK
      summary: Import applicants
      tags:
      - Applicant
      x-readme:
        code-samples:
        - language: curl
          code: "curl -X POST 'https://api.sumsub.com/resources/applicants/-/ingestCompleted?levelName=basic-kyc-level'\
            \ \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n\t  \"externalUserId\"\
            : \"someClientUserId\",\n\t  \"info\": {\n\t\t\"firstName\": \"John\"\
            ,\n\t\t\"lastName\": \"Snow\",\n\t\t\"country\": \"GBR\"\n\t  },\n\t \
            \ \"review\": {\n\t\t\"elapsedSincePendingMs\": 100,\n\t\t\"elapsedSinceQueuedMs\"\
            : 50,\n\t\t\"createDate\": \"2022-11-21 08:25:32+0000\",\n\t\t\"reviewDate\"\
            : \"2022-11-21 08:25:36+0000\",\n\t\t\"reviewResult\": {\n\t\t\t\"moderationComment\"\
            : \"\",\n\t\t\t\"clientComment\": \"\",\n\t\t\t\"reviewAnswer\": \"GREEN\"\
            \n\t\t},\n\t\t\"reviewStatus\": \"completed\"\n\t  }\n  }'\n"
        samples-languages:
        - curl
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicants---ingestCompleted?levelName=levelName
      x-content-type: application/json
      x-accepts: application/json
  /resources/applicants/-/applicantImport:
    post:
      deprecated: false
      description: Imports applicant data and images including associated review results.
      operationId: Applicant_importByArchive
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantImportByArchiveRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantImportByArchiveRequest1'
      responses:
        "200":
          description: OK
      summary: Import applicant with images by archive
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicants---applicantImport
      x-content-type: application/json
      x-accepts: application/json
  /resources/applicants/{applicantId}/status/testCompleted:
    post:
      deprecated: false
      description: Simulates a verification reposnose.
      operationId: Applicant_sandboxVerificationResponse
      parameters:
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantSandboxVerificationResponseRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantSandboxVerificationResponseRequest1'
      responses:
        "200":
          description: OK
      summary: Set review for applicant in sandbox
      tags:
      - Applicant
      x-readme:
        code-samples:
        - language: curl
          code: |-
            curl -X POST \
              'https://api.sumsub.com/resources/applicants/5bb8cca10a975a624903cf65/status/testCompleted' \
              -H 'content-type: application/json' \
              -d '{
                      "reviewAnswer": "RED",
                      "moderationComment": "We do not accept screenshots. Please upload an original photo.",
                      "clientComment": "Screenshots are not accepted.",
                      "reviewRejectType": "RETRY",
                      "rejectLabels": ["UNSATISFACTORY_PHOTOS","SCREENSHOTS"]
                  }
            '
        samples-languages:
        - curl
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicants-applicantId-status-testCompleted
      x-content-type: application/json
      x-accepts: application/json
  /resources/applicants/{applicantId}/tags/add:
    post:
      deprecated: false
      description: Adds custom tags to applicant profiles.
      operationId: Applicant_addCustomTags
      parameters:
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantAddCustomTagsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantAddCustomTagsRequest1'
      responses:
        "200":
          description: OK
      summary: Add custom applicant tags
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicants-applicantId-tags-add
      x-content-type: application/json
      x-accepts: application/json
  /resources/applicants/{applicantId}/tags:
    delete:
      deprecated: false
      description: Removes all custom tags from applicant profiles.
      operationId: Applicant_removeCustomTags
      parameters:
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantRemoveCustomTagsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantRemoveCustomTagsRequest1'
      responses:
        "200":
          description: OK
      summary: Remove custom applicant tags
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--resources-applicants-applicantId-tags
      x-content-type: application/json
      x-accepts: application/json
    post:
      deprecated: false
      description: Adds and overwrites custom tags in applicant profiles.
      operationId: Applicant_addCustomTags
      parameters:
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantAddCustomTagsRequest2'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantAddCustomTagsRequest3'
      responses:
        "200":
          description: OK
      summary: Add and overwrite custom applicant tags
      tags:
      - Applicant
      x-readme:
        code-samples:
        - language: curl
          code: |
            curl -X POST 'https://api.sumsub.com/resources/applicants/5fd1012c885b5d0009d50e6e/tags' \
              -H 'Content-Type: application/json' \
              -d '["Approved Sanctions", "Approved PEP", "821"]'
        samples-languages:
        - curl
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicants-applicantId-tags
      x-content-type: application/json
      x-accepts: application/json
  /resources/applicants/{applicantId}/status/pending?reason={reason}:
    post:
      deprecated: false
      description: Initiates a check of the applicant profile.
      operationId: Applicant_initiateApplicantCheck
      parameters:
      - description: A note indicating the reason for checking the applicant profile.
        explode: true
        in: query
        name: reason
        required: false
        schema:
          type: string
        style: form
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Request applicant check
      tags:
      - Applicant
      x-readme:
        code-samples:
        - language: curl
          code: |
            curl -X POST \
              'https://api.sumsub.com/resources/applicants/5b73b82f0a975a3b46429758/status/pending?reason=someReason'
        samples-languages:
        - curl
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicants-applicantId-status-pending?reason=reason
      x-accepts: application/json
  /resources/applicants/{applicantId}/blacklist?note={note}:
    post:
      deprecated: false
      description: Add an applicant to blocklist.
      operationId: Applicant_addToBlocklist
      parameters:
      - description: A note indicating the reason for blocklisting the applicant profile.
        explode: true
        in: query
        name: note
        required: true
        schema:
          type: string
        style: form
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Add applicant to blocklist
      tags:
      - Applicant
      x-readme:
        code-samples:
        - language: curl
          code: |
            curl -X POST \
              'https://api.sumsub.com/resources/applicants/5c0e93c30a975a53a79aa54b/blacklist?note=A%20user%20provided%20a%20fake%20document'
        samples-languages:
        - curl
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicants-applicantId-blacklist?note=note
      x-accepts: application/json
  /resources/applicants/{applicantId}/reset:
    post:
      deprecated: false
      description: Marks documents uploaded by the applicant as inactive and deletes
        all statuses assigned earlier.
      operationId: Applicant_resetProfile
      parameters:
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Reset applicant profile
      tags:
      - Applicant
      x-readme:
        code-samples:
        - language: curl
          code: |
            curl -X POST \
              'https://api.sumsub.com/resources/applicants/5d6f821b0a975a0b8aa27b27/reset'
        samples-languages:
        - curl
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicants-applicantId-reset
      x-accepts: application/json
  /resources/applicants/{applicantId}/resetStep/{idDocSetType}:
    post:
      deprecated: false
      description: Resets the specified verification step.
      operationId: Applicant_resetVerificationStep
      parameters:
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      - description: "A [step name](ref:reset-single-verification-step#available-steps-to-reset)\
          \ to reset."
        explode: false
        in: path
        name: idDocSetType
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Reset verification step
      tags:
      - Applicant
      x-readme:
        code-samples:
        - language: curl
          code: |
            curl -X POST \
              'https://api.sumsub.com/resources/applicants/62164ddf8a86e20bbd28ab75/resetStep/PHONE_VERIFICATION'
        samples-languages:
        - curl
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicants-applicantId-resetStep-idDocSetType
      x-accepts: application/json
  /resources/inspections/{inspectionId}/resources/{imageId}:
    delete:
      deprecated: false
      description: Marks uploaded images as deleted.
      operationId: Image_markAsInactive
      parameters:
      - description: Set `true` to revert inactivity of the image.
        explode: true
        in: query
        name: revert
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--resources-inspections-inspectionId-resources-imageId-delete-parameters-0-schema
        style: form
      - description: "An inspection identifier. You can get this number by using [this\
          \ API method](ref:get-applicant-data)."
        explode: false
        in: path
        name: inspectionId
        required: true
        schema:
          type: string
        style: simple
      - description: "An image identifier. You can get this number by using [this\
          \ API method](ref:get-applicant-verification-steps-status)."
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Mark image as inactive
      tags:
      - Image
      x-readme:
        code-samples:
        - language: curl
          code: |
            curl -X DELETE \
              'https://api.sumsub.com/resources/inspections/5f649369aee05c75ea54c80a/resources/1045510331'
        samples-languages:
        - curl
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--resources-inspections-inspectionId-resources-imageId
      x-accepts: application/json
    get:
      deprecated: false
      description: Returns document images.
      operationId: Image_getDocumentImages
      parameters:
      - description: "An inspection identifier. This identifier is returned as a root\
          \ field upon running [this API method](ref:get-applicant-data)."
        explode: false
        in: path
        name: inspectionId
        required: true
        schema:
          type: string
        style: simple
      - description: "An image identifier. You can get this number by using [this\
          \ API method](ref:get-applicant-verification-steps-status)."
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Get document images
      tags:
      - Image
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-inspections-inspectionId-resources-imageId
      x-accepts: application/json
  /resources/applicants/{applicantId}/presence/{status}:
    patch:
      deprecated: false
      description: Deactivates an applicant profile.
      operationId: Applicant_deactivateProfile
      parameters:
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      - description: "Possible values: `deactivated` to deactivate the applicant profile.\
          \ `activated` to reactivate the applicant profile."
        explode: false
        in: path
        name: status
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Deactivate applicant profile
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--resources-applicants-applicantId-presence-status
      x-accepts: application/json
  /resources/applicants/{applicantId}/agreement:
    post:
      deprecated: false
      description: Adds a consent to an applicant profile.
      operationId: Applicant_addConsentToProfile
      parameters:
      - description: A unique identifier of an applicant profile to which a consent
          should be added.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantAddConsentToProfileRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantAddConsentToProfileRequest1'
      responses:
        "200":
          description: OK
      summary: Add applicant consent
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicants-applicantId-agreement
      x-content-type: application/json
      x-accepts: application/json
  /resources/applicants/{applicantId}/one:
    get:
      deprecated: false
      description: Returns applicant information.
      operationId: Applicant_getData
      parameters:
      - description: A unique applicant identifier
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Get applicant data
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-applicants-applicantId-one
      x-accepts: application/json
  /resources/applicants/-;externalUserId={externalUserId}/one:
    get:
      deprecated: false
      description: Returns applicant information based on the provided `externalUserId`.
      operationId: Applicant_getDataByExternalUserId
      parameters:
      - description: A unique applicant identifier in your system.
        explode: false
        in: path
        name: externalUserId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Get applicant data (externalUserId)
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-applicants--;externalUserId=externalUserId-one
      x-accepts: application/json
  /resources/applicants/{applicantId}/status:
    get:
      deprecated: false
      description: Returns applicant review status.
      operationId: Applicant_getReviewStatus
      parameters:
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Get applicant review status
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-applicants-applicantId-status
      x-accepts: application/json
  /resources/applicants/{applicantId}/requiredIdDocsStatus:
    get:
      deprecated: false
      description: Returns information about the documents or separate verification
        step results.
      operationId: Applicant_getVerificationStepsStatus
      parameters:
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Get applicant verification steps status
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-applicants-applicantId-requiredIdDocsStatus
      x-accepts: application/json
  /resources/moderationStates/-;applicantId={applicantId}:
    get:
      deprecated: false
      description: Returns rejection reason clarification.
      operationId: Applicant_clarifyRejectionReason
      parameters:
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Clarify rejection reason
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-moderationStates--;applicantId=applicantId
      x-accepts: application/json
  /resources/checks/latest?type=TIN:
    get:
      deprecated: false
      description: Returns TIN (SSN) check results.
      operationId: Check_tinSsnCheckResults
      parameters:
      - description: A unique applicant identification number.
        explode: true
        in: query
        name: applicantId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: OK
      summary: Get TIN (SSN) check results
      tags:
      - Check
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-checks-latest?type=TIN
      x-accepts: application/json
  /resources/checks/latest?type=EMAIL_CONFIRMATION:
    get:
      deprecated: false
      description: Returns email confirmation check results.
      operationId: Check_emailConfirmationResults
      parameters:
      - description: A unique applicant identifier.
        explode: true
        in: query
        name: applicantId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: OK
      summary: Get email confirmation check results
      tags:
      - Check
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-checks-latest?type=EMAIL_CONFIRMATION
      x-accepts: application/json
  /resources/checks/latest?type=PHONE_CONFIRMATION:
    get:
      deprecated: false
      description: Returns phone confirmation check results.
      operationId: Check_phoneConfirmationResults
      parameters:
      - description: A unique applicant identifier.
        explode: true
        in: query
        name: applicantId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: OK
      summary: Get phone confirmation check results
      tags:
      - Check
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-checks-latest?type=PHONE_CONFIRMATION
      x-accepts: application/json
  /resources/checks/latest?type=IP_CHECK:
    get:
      deprecated: false
      description: Returns IP check results.
      operationId: Check_ipCheckResults
      parameters:
      - description: A unique applicant identifier.
        explode: true
        in: query
        name: applicantId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: OK
      summary: Get IP check results
      tags:
      - Check
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-checks-latest?type=IP_CHECK
      x-accepts: application/json
  /resources/applicantFraudNetworks/-/byApplicant/{applicantId}:
    get:
      deprecated: false
      description: Returns all fraud networks by `applicantId`.
      operationId: Applicant_getFraudNetworksByApplicant
      parameters:
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Get applicant fraud networks
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-applicantFraudNetworks---byApplicant-applicantId
      x-accepts: application/json
  /resources/applicantFraudNetworks/{networkId}/one:
    get:
      deprecated: false
      description: Returns fraud network by `networkId`.
      operationId: Applicant_getFraudNetworkById
      parameters:
      - description: A unique network identifier.
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Get fraud network by ID
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-applicantFraudNetworks-networkId-one
      x-accepts: application/json
  /resources/checks/crossCheck?comparisonMode={comparisonMode}:
    post:
      deprecated: false
      description: Performs a name cross validation.
      operationId: Check_performNameCrossValidation
      parameters:
      - description: "Data comparison mode. See the [possible values](/reference/perform-name-cross-validation#possible-comparisonmode-values)."
        explode: false
        in: path
        name: comparisonMode
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckPerformNameCrossValidationRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CheckPerformNameCrossValidationRequest1'
      responses:
        "200":
          description: OK
      summary: Perform name cross validation
      tags:
      - Check
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-checks-crossCheck?comparisonMode=comparisonMode
      x-content-type: application/json
      x-accepts: application/json
  /resources/sdkIntegrations/levels/{levelName}/websdkLink:
    post:
      deprecated: false
      description: Creates a link to WebSDK for the specified applicant.
      operationId: WebSdkLink_generateExternal
      parameters:
      - description: A lifespan of the link in seconds.
        explode: true
        in: query
        name: ttlInSecs
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: An external user ID on your side.
        explode: true
        in: query
        name: externalUserId
        required: false
        schema:
          type: string
        style: form
      - description: The language for WebSDK in ISO 639-1 format.
        explode: true
        in: query
        name: lang
        required: false
        schema:
          type: string
        style: form
      - description: "A [verification level](https://docs.sumsub.com/reference) name.\
          \ Case-sensitive and has to be created in the same environment. If contains\
          \ reserved characters (e.g., `@`, `+\"`, white spaces as `%20`), it should\
          \ be URL-encoded, otherwise you may get signature mismatch."
        explode: false
        in: path
        name: levelName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Generate external WebSDK link
      tags:
      - WebSDKLink
      x-readme:
        code-samples:
        - language: curl
          code: |
            curl -X POST \
              'https://api.sumsub.com/resources/sdkIntegrations/levels/basic-kyc-level/websdkLink?ttlInSecs=1800&externalUserId=304775ty&lang=en' \
                 -H 'Accept: application/json' \
                 -H 'Content-Type: application/json' \
                 -d '{ }'
        samples-languages:
        - curl
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-sdkIntegrations-levels-levelName-websdkLink
      x-accepts: application/json
  /resources/applicants/-/levels:
    get:
      deprecated: false
      description: Returns a list of verification levels.
      operationId: Applicant_getLevels
      responses:
        "200":
          description: OK
      summary: Get available applicant levels
      tags:
      - Applicant
      x-readme:
        code-samples:
        - language: curl
          code: |
            curl -X GET \
              'https://api.sumsub.com/resources/applicants/-/levels'
        samples-languages:
        - curl
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-applicants---levels
      x-accepts: application/json
  /resources/checks/latest?type=POA:
    get:
      deprecated: false
      description: Returns PoA data.
      operationId: Check_additionalPoaData
      parameters:
      - description: A unique applicant identifier.
        explode: true
        in: query
        name: applicantId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: OK
      summary: Get additional PoA data
      tags:
      - Check
      x-readme:
        code-samples:
        - language: curl
          code: |
            curl -X GET \
              'https://api.sumsub.com/resources/checks/latest?type=POA&applicantId=6b594ade0a975a36c9349e66'
        samples-languages:
        - curl
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-checks-latest?type=POA
      x-accepts: application/json
  /resources/accessTokens:
    post:
      deprecated: false
      description: Creates an applicant action token.
      operationId: Token_createActionToken
      parameters:
      - description: A lifespan of a token in seconds. Default value is 10 mins.
        explode: true
        in: query
        name: ttlInSecs
        required: false
        schema:
          default: "600"
          example: "600"
          type: string
          x-konfig-original-example: "600"
          x-konfig-generated-schema: konfig-generated-schema-paths--resources-accessTokens-post-parameters-0-schema
        style: form
      - description: An external user ID which will be bound to the token.
        explode: true
        in: query
        name: userId
        required: true
        schema:
          type: string
        style: form
      - description: An external action ID which will be bound to the token.
        explode: true
        in: query
        name: externalActionId
        required: true
        schema:
          type: string
        style: form
      - description: "The name of the [verification level](https://docs.sumsub.com/reference)."
        explode: true
        in: query
        name: levelName
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: OK
      summary: Generate access token
      tags:
      - Token
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-accessTokens
      x-accepts: application/json
  /resources/applicantActions/-;applicantId={applicantId}:
    get:
      deprecated: false
      description: Returns a list of applicant actions.
      operationId: Applicant_getActions
      parameters:
      - description: Limit of applicant actions to be returned.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 1000
          example: 1000
          format: int32
          type: integer
          x-konfig-original-example: 1000
          x-konfig-generated-schema: konfig-generated-schema-paths--resources-applicantActions--;applicantId=applicantId-get-parameters-0-schema
        style: form
      - description: Offset of applicant actions to be returned.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          format: int32
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--resources-applicantActions--;applicantId=applicantId-get-parameters-1-schema
        style: form
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Get applicant actions
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-applicantActions--;applicantId=applicantId
      x-accepts: application/json
  /resources/applicantActions/{actionId}/one:
    get:
      deprecated: false
      description: Returns information about the applicant action checks.
      operationId: Applicant_getActionOneInfo
      parameters:
      - description: A unique applicant action identifier.
        explode: false
        in: path
        name: actionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Get action information
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-applicantActions-actionId-one
      x-accepts: application/json
  /resources/applicantActions/-/forApplicant/{applicantId}?levelName={levelName}:
    post:
      deprecated: false
      description: Creates an applicant action.
      operationId: Applicant_createAction
      parameters:
      - description: A unique aplicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      - description: A name of the level configured in the dashboard.
        explode: true
        in: query
        name: levelName
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantCreateActionRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantCreateActionRequest1'
      responses:
        "200":
          description: OK
      summary: Create applicant action
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicantActions---forApplicant-applicantId?levelName=levelName
      x-content-type: application/json
      x-accepts: application/json
  /resources/applicantActions/-/forApplicant/{applicantId}/?levelName=paymentSource:
    post:
      deprecated: false
      description: Creates an action to process a payment source and to confirm the
        owner of the payment method.
      operationId: Applicant_createPaymentSourceActions
      parameters:
      - description: An unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      - description: A verification level name for which you want to create a payment
          source action.
        explode: true
        in: query
        name: levelName
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantCreatePaymentSourceActionsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantCreatePaymentSourceActionsRequest1'
      responses:
        "200":
          content:
            text/plain:
              examples:
                Result:
                  value: |-
                    {
                      "id": "65e9624496bed30142a6d15c",
                      "createdAt": "2024-03-07 06:44:24",
                      "key": "SBCJVLAAMRHYAB",
                      "clientId": "client_id",
                      "externalActionId": "payment-source-1fbH9AYHn",
                      "applicantId": "65e881a212b4ef468def3bbb",
                      "type": "paymentMethod",
                      "review": {
                        "reviewId": "RlWfu",
                        "attemptId": "dhABq",
                        "attemptCnt": 0,
                        "levelName": "paymentSource",
                        "createDate": "2024-03-07 06:44:24+0000",
                        "reviewStatus": "init"
                      },
                      "requiredIdDocs": {
                        "docSets": [
                          {
                            "idDocSetType": "PAYMENT_METHODS",
                            "types": [
                              "PAYMENT_SOURCE"
                            ]
                          }
                        ]
                      },
                      "paymentSource": {
                        "id": "c4032de1-2e1c-4b29-8a81-623103f9cd51",
                        "createdAt": "2024-03-07 06:44:24",
                        "fixedInfo": {
                          "institutionName": "Name",
                          "fullName": "John Doe",
                          "accountIdentifier": "120834387",
                          "email": "JohnDoe@mail.com"
                        }
                      }
                    }
              schema:
                $ref: '#/components/schemas/ApplicantCreatePaymentSourceActionsResponse'
          description: "200"
      summary: Create payment source actions
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicantActions---forApplicant-applicantId-?levelName=paymentSource
      x-content-type: application/json
      x-accepts: text/plain
  /resources/applicantActions/{actionId}/review/status/pending:
    post:
      deprecated: false
      description: Requests an applicant action check.
      operationId: Applicant_requestActionCheck
      parameters:
      - description: A unique applicant action identifier.
        explode: false
        in: path
        name: actionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Request action check
      tags:
      - Applicant
      x-readme:
        code-samples:
        - language: curl
          code: |2
             curl -X POST \
              'https://api.sumsub.com/resources/applicantActions/5e022e0f0a975a45325c7ff5/review/status/pending'
        samples-languages:
        - curl
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicantActions-actionId-review-status-pending
      x-accepts: application/json
  /resources/applicantActions/-/forApplicant/{applicantId}/paymentMethod:
    post:
      deprecated: false
      description: Submits a payment method.
      operationId: Applicant_submitPaymentMethod
      parameters:
      - description: "Use `externalActionId` if you intend to [initialize SDK](ref:about-applicant-actions)\
          \ for that particular action."
        explode: false
        in: header
        name: X-External-Action-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Sets the video selfie at `requiredIdDocs` for the action.
        explode: true
        in: query
        name: requireSelfie
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--resources-applicantActions---forApplicant-applicantId-paymentMethod-post-parameters-1-schema
        style: form
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Submission
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicantActions---forApplicant-applicantId-paymentMethod
      x-accepts: application/json
  /resources/applicantActions/{actionId}/paymentMethod:
    post:
      deprecated: false
      description: Adds additional information to the payment method.
      operationId: Applicant_addPaymentMethodInformation
      parameters:
      - description: A unique applicant action identifier.
        explode: false
        in: path
        name: actionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantAddPaymentMethodInformationRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantAddPaymentMethodInformationRequest1'
      responses:
        "200":
          description: OK
      summary: Add payment method information
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicantActions-actionId-paymentMethod
      x-content-type: application/json
      x-accepts: application/json
  /resources/applicantActions/{actionId}/images/{imageId}?preview={isPreview}:
    get:
      deprecated: false
      description: Returns an original bank card image.
      operationId: Applicant_getBankCardImage
      parameters:
      - description: Indicates if an image thumbnail should be returned.
        explode: true
        in: query
        name: isPreview
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--resources-applicantActions-actionId-images-imageId?preview=isPreview-get-parameters-0-schema
        style: form
      - description: A unique applicant action identifier.
        explode: false
        in: path
        name: actionId
        required: true
        schema:
          type: string
        style: simple
      - description: "An image identifier taken from `images[].imageId`."
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Get bank card image
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-applicantActions-actionId-images-imageId?preview=isPreview
      x-accepts: application/json
  /resources/applicantActions/{actionId}/images:
    post:
      deprecated: false
      description: Adds an image to the payment method.
      operationId: Applicant_addImageToPaymentMethod
      parameters:
      - description: A unique applicant action identifier.
        explode: false
        in: path
        name: actionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantAddImageToPaymentMethodRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantAddImageToPaymentMethodRequest1'
      responses:
        "200":
          description: OK
      summary: Add image to payment method
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicantActions-actionId-images
      x-content-type: application/json
      x-accepts: application/json
  /resources/applicantActions/-/forApplicant/{applicantId}/cryptoSourceOfFunds:
    post:
      deprecated: false
      description: Creates an action with transaction information.
      operationId: Applicant_createCryptoSourceOfFunds
      parameters:
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantCreateCryptoSourceOfFundsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantCreateCryptoSourceOfFundsRequest1'
      responses:
        "200":
          description: OK
      summary: Submission
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicantActions---forApplicant-applicantId-cryptoSourceOfFunds
      x-content-type: application/json
      x-accepts: application/json
  /resources/standalone/crypto/cryptoSourceOfFunds:
    post:
      deprecated: false
      description: Initiates standalone crypto analysis.
      operationId: Analysis_standaloneCryptoInitiation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalysisStandaloneCryptoInitiationRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AnalysisStandaloneCryptoInitiationRequest1'
      responses:
        "200":
          description: OK
      summary: Standalone crypto analysis
      tags:
      - Analysis
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-standalone-crypto-cryptoSourceOfFunds
      x-content-type: application/json
      x-accepts: application/json
  /resources/standalone/crypto/availableCurrencies:
    get:
      deprecated: false
      description: Returns available tokens.
      operationId: Token_getAvailableCurrencies
      responses:
        "200":
          description: OK
      summary: Get available tokens
      tags:
      - Token
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-standalone-crypto-availableCurrencies
      x-accepts: application/json
  /resources/applicants/{applicantId}/info/companyInfo/beneficiaries:
    post:
      deprecated: false
      description: Adds an existing individual applicant as a beneficiary.
      operationId: Applicant_addBeneficiary
      parameters:
      - description: A unique company applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantAddBeneficiaryRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantAddBeneficiaryRequest1'
      responses:
        "200":
          description: OK
      summary: Add applicant as beneficiary
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /resources/applicants/{applicantId}/info/companyInfo/beneficiaries/{beneficiaryApplicantId}:
    delete:
      deprecated: false
      description: Removes the applicant from the list of company beneficial owners.
      operationId: Applicant_removeFromBeneficiaryList
      parameters:
      - description: A unique company applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      - description: Beneficiary applicant identifier.
        explode: false
        in: path
        name: beneficiaryApplicantId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Remove applicant from beneficiary list
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--resources-applicants-applicantId-info-companyInfo-beneficiaries-beneficiaryApplicantId
      x-accepts: application/json
  /resources/applicants/{applicantId}/info/companyInfo:
    patch:
      deprecated: false
      description: Changes company data.
      operationId: Applicant_changeCompanyData
      parameters:
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantChangeCompanyDataRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantChangeCompanyDataRequest1'
      responses:
        "200":
          description: OK
      summary: Change company data
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--resources-applicants-applicantId-info-companyInfo
      x-content-type: application/json
      x-accepts: application/json
  /resources/checks/latest?type=COMPANY:
    get:
      deprecated: false
      description: Returns company check results.
      operationId: Check_additionalCompanyData
      parameters:
      - description: A unique applicant identifier.
        explode: true
        in: query
        name: applicantId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: OK
      summary: Get additional company check data
      tags:
      - Check
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-checks-latest?type=COMPANY
      x-accepts: application/json
  /resources/inspections/{inspectionId}?fields=videoIdentData:
    get:
      deprecated: false
      description: Returns the video call results.
      operationId: Inspection_getVideoIdentData
      parameters:
      - description: A unique inspection identifier.
        explode: false
        in: path
        name: inspectionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Get video call data
      tags:
      - Inspection
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-inspections-inspectionId?fields=videoIdentData
      x-accepts: application/json
  /resources/videoIdent/applicant/{applicantId}/media/{compositionMediaId}:
    get:
      deprecated: false
      description: Returns video call media.
      operationId: Applicant_getVideoCallMedia
      parameters:
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      - description: Video call media identifier.
        explode: false
        in: path
        name: compositionMediaId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/ApplicantGetVideoCallMediaResponse'
          description: "200"
      summary: Get video call media
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-videoIdent-applicant-applicantId-media-compositionMediaId
      x-accepts: application/json
  /resources/applicants/{applicantId}/ekyc/submit:
    post:
      deprecated: false
      description: Sends applicant data for no-document verification.
      operationId: Applicant_submitDataNoDocVerification
      parameters:
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantSubmitDataNoDocVerificationRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantSubmitDataNoDocVerificationRequest1'
      responses:
        "200":
          description: OK
      summary: Submit applicant data
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicants-applicantId-ekyc-submit
      x-content-type: application/json
      x-accepts: application/json
  /resources/applicants/{applicantId}/ekyc/confirm/{confirmationid}:
    post:
      deprecated: false
      description: Confirms applicant data.
      operationId: Applicant_confirmData
      parameters:
      - description: A unique applicant identifier.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      - description: "A confirmation identifier from the [submission](ref:submit-applicant-data)\
          \ response."
        explode: false
        in: path
        name: confirmationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantConfirmDataRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantConfirmDataRequest1'
      responses:
        "200":
          description: OK
      summary: Confirm applicant data
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicants-applicantId-ekyc-confirm-confirmationid
      x-content-type: application/json
      x-accepts: application/json
  /resources/checks/latest:
    get:
      deprecated: false
      description: Returns the applicant data for Non-Doc verification.
      operationId: Applicant_getDataLatest
      parameters:
      - description: Check type.
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - E_KYC_CHECK
          - RESIDENCY_CHECK
          type: string
        style: form
      - description: A unique applicant identifier.
        explode: true
        in: query
        name: applicantId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: OK
      summary: Get applicant data
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-checks-latest
      x-accepts: application/json
  /resources/applicants/{applicantId}/kyt/txns/-/data:
    post:
      deprecated: false
      description: Initiates transaction processing.
      operationId: Applicant_submitTransactionData
      parameters:
      - description: "A unique identification number of the applicant who passed user\
          \ verification (KYC). If you do no have such an applicant, use [Submit transaction\
          \ for non-existing applicant](ref:submit-transaction-for-non-existing-applicant)\
          \ instead."
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantSubmitTransactionDataRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantSubmitTransactionDataRequest1'
      responses:
        "200":
          description: OK
      summary: Submit transaction for existing applicant
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicants-applicantId-kyt-txns---data
      x-content-type: application/json
      x-accepts: application/json
  /resources/applicants/-/kyt/txns/-/data:
    post:
      deprecated: false
      description: Initiates transaction processing for non-existing applicants.
      operationId: Applicant_submitTransactionForNonExisting
      parameters:
      - description: "A [verification level](https://docs.sumsub.com/reference) name.\
          \ Case-sensitive and has to be created in the same environment. If contains\
          \ reserved characters (e.g., `@`, `+\"`, white spaces as `%20`), it should\
          \ be URL-encoded, otherwise you may get signature mismatch."
        explode: true
        in: query
        name: levelName
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantSubmitTransactionForNonExistingRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantSubmitTransactionForNonExistingRequest1'
      responses:
        "200":
          description: OK
      summary: Submit transaction for non-existing applicant
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-applicants---kyt-txns---data
      x-content-type: application/json
      x-accepts: application/json
  /resources/kyt/txns/{id}/one:
    get:
      deprecated: false
      description: Returns transaction information.
      operationId: Transaction_informationOne
      parameters:
      - description: A unique transaction identifier.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Get transaction information
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-kyt-txns-id-one
      x-accepts: application/json
  /resources/kyt/txns/-;data.txnId={externalTxnId}/one:
    get:
      deprecated: false
      description: Returns transaction information based on the provided `externalTxnId`.
      operationId: Transaction_getOneData
      parameters:
      - description: A unique transaction identifier on your side.
        explode: false
        in: path
        name: externalTxnId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Get transaction information (externalTxnId)
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-kyt-txns--;data.txnId=externalTxnId-one
      x-accepts: application/json
  /resources/kyt/misc/txns/import:
    post:
      deprecated: false
      description: Imports a list of transactions.
      operationId: Transaction_bulkImport
      parameters:
      - description: "<ul><li><code>true</code> — all valid transactions will be created\
          \ and returned, errors will be ignored during the processing and listed\
          \ in the response.</li><li><code>false</code> (default) — valid transactions\
          \ will be created up to the first detected error. The response will only\
          \ contain the error on which the processing was interrupted.</li></ul>"
        explode: true
        in: query
        name: ignoreErrors
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--resources-kyt-misc-txns-import-post-parameters-0-schema
        style: form
      - description: Allows you to control whether scoring should be run on imported
          transactions or not:<ul><li><code>true</code> (default) — start scoring
          after import.</li><li><code>false</code> — do not start scoring after import.</li></ul>
        explode: true
        in: query
        name: scoreSavedTxns
        required: false
        schema:
          default: true
          example: true
          type: boolean
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--resources-kyt-misc-txns-import-post-parameters-1-schema
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionBulkImportRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TransactionBulkImportRequest1'
      responses:
        "200":
          description: OK
      summary: Bulk transaction import
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-kyt-misc-txns-import
      x-content-type: application/json
      x-accepts: application/json
  /resources/kyt/txns/{id}/props:
    patch:
      deprecated: false
      description: Updates transaction properties.
      operationId: Transaction_updateProperties
      parameters:
      - description: A list of property names separated by commas that should be set
          to `null`.
        explode: true
        in: query
        name: unsetKeys
        required: false
        schema:
          type: string
        style: form
      - description: A unique transaction identification number.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionUpdatePropertiesRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TransactionUpdatePropertiesRequest1'
      responses:
        "200":
          description: OK
      summary: Change transaction properties
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--resources-kyt-txns-id-props
      x-content-type: application/json
      x-accepts: application/json
  /resources/kyt/txns/{id}/-/score:
    post:
      deprecated: false
      description: Re-scores transactions.
      operationId: Transaction_reScore
      parameters:
      - description: A unique transaction identification number.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Re-score transaction
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-kyt-txns-id---score
      x-accepts: application/json
  /resources/kyt/txns/{id}/review/status/completed:
    post:
      deprecated: false
      description: Approves or rejects transactions.
      operationId: Transaction_approveReject
      parameters:
      - description: A unique transaction identification number.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionApproveRejectRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TransactionApproveRejectRequest1'
      responses:
        "200":
          description: OK
      summary: Approve and reject transaction
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-kyt-txns-id-review-status-completed
      x-content-type: application/json
      x-accepts: application/json
  /resources/kyt/txns/{id}/tags:
    delete:
      deprecated: false
      description: Removes tags from transactions.
      operationId: Transaction_removeTags
      parameters:
      - description: A unique transaction identifier.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRemoveTagsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TransactionRemoveTagsRequest1'
      responses:
        "200":
          description: OK
      summary: Remove tags
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--resources-kyt-txns-id-tags
      x-content-type: application/json
      x-accepts: application/json
    get:
      deprecated: false
      description: Returns a list of transaction tags.
      operationId: Transaction_listTags
      parameters:
      - description: A unique transaction identifier.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Get tags
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-kyt-txns-id-tags
      x-accepts: application/json
    post:
      deprecated: false
      description: Adds tags to transactions.
      operationId: Tag_addTransactionTags
      parameters:
      - description: A unique transaction identifier.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagAddTransactionTagsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TagAddTransactionTagsRequest1'
      responses:
        "200":
          description: OK
      summary: Add tags
      tags:
      - Tag
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-kyt-txns-id-tags
      x-content-type: application/json
      x-accepts: application/json
  /resources/kyt/txns/{id}/notes:
    get:
      deprecated: false
      description: Returns transaction notes.
      operationId: Note_getTransactionNotes
      parameters:
      - description: A unique transaction identifier.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Get notes
      tags:
      - Note
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-kyt-txns-id-notes
      x-accepts: application/json
  /resources/kyt/txns/notes:
    delete:
      deprecated: false
      description: Removes notes from transactions.
      operationId: Note_removeFromTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteRemoveFromTransactionRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NoteRemoveFromTransactionRequest1'
      responses:
        "200":
          description: OK
      summary: Remove notes
      tags:
      - Note
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--resources-kyt-txns-notes
      x-content-type: application/json
      x-accepts: application/json
    patch:
      deprecated: false
      description: Updates a note.
      operationId: Note_updateTransactionNotes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteUpdateTransactionNotesRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NoteUpdateTransactionNotesRequest1'
      responses:
        "200":
          description: OK
      summary: Edit notes
      tags:
      - Note
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--resources-kyt-txns-notes
      x-content-type: application/json
      x-accepts: application/json
    post:
      deprecated: false
      description: Adds notes to transactions.
      operationId: Note_addToTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteAddToTransactionRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NoteAddToTransactionRequest1'
      responses:
        "200":
          description: OK
      summary: Add notes
      tags:
      - Note
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-kyt-txns-notes
      x-content-type: application/json
      x-accepts: application/json
  /resources/kyt/txns/{txnId}/data/info:
    patch:
      deprecated: false
      description: Updates information from the blockchain.
      operationId: Transaction_updateBlockchainInfo
      parameters:
      - description: A unique transaction identifier.
        explode: false
        in: path
        name: txnId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionUpdateBlockchainInfoRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TransactionUpdateBlockchainInfoRequest1'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/TransactionUpdateBlockchainInfoResponse'
          description: "200"
      summary: Patch transaction with chain transaction ID
      tags:
      - Transaction
      x-readme:
        code-samples:
        - language: curl
          code: |
            curl -X PATCH \
              'https://api.sumsub.com/resources/kyt/txns/638f1e3656df2d000138bff0/data/info' \
              -H 'Content-Type: application/json' \
              -d '{
                      "fingerprint": "1328d8738e244eaedfc6172a1038d5c52a689ca7631ece90d7aa1742e59048a2"
                  }'
        samples-languages:
        - curl
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--resources-kyt-txns-txnId-data-info
      x-content-type: application/json
      x-accepts: application/json
  /resources/kyt/txns/{txnId}/applicantId/{applicantId}:
    post:
      deprecated: false
      description: Moves transaction to the specified applicant.
      operationId: Applicant_moveTransactionToAnotherApplicant
      parameters:
      - description: A unique transaction identifier.
        explode: false
        in: path
        name: txnId
        required: true
        schema:
          type: string
        style: simple
      - description: A unique applicant identifier who should own the transaction.
        explode: false
        in: path
        name: applicantId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/ApplicantMoveTransactionToAnotherApplicantResponse'
          description: "200"
      summary: Move transaction to another applicant
      tags:
      - Applicant
      x-readme:
        code-samples:
        - language: curl
          code: |
            curl -X POST \
              'https://api.sumsub.com/resources/kyt/txns/631f268442d8290001e1eee8/applicantId/631f268442d8290001e1eee9'
        samples-languages:
        - curl
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-kyt-txns-txnId-applicantId-applicantId
      x-accepts: application/json
  /resources/kyt/txns/{txnId}/data/applicant:
    patch:
      deprecated: false
      description: Enriches transaction with the Travel Rule data.
      operationId: Applicant_enrichTransactionWithTravelRuleData
      parameters:
      - description: A unique transaction identifier.
        explode: false
        in: path
        name: txnId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantEnrichTransactionWithTravelRuleDataRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantEnrichTransactionWithTravelRuleDataRequest1'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/ApplicantEnrichTransactionWithTravelRuleDataResponse'
          description: "200"
      summary: Enriching transaction with Travel Rule
      tags:
      - Applicant
      x-readme:
        code-samples:
        - language: curl
          code: |
            curl -X PATCH \
              'https://api.sumsub.com/resources/kyt/txns/638f1e3656df2d000138bff0/data/applicant' \
              -H 'Content-Type: application/json' \
              -d '{
                     "fullName": "John Snow"
                }'
        samples-languages:
        - curl
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--resources-kyt-txns-txnId-data-applicant
      x-content-type: application/json
      x-accepts: application/json
  /resources/kyt/txns/{txnId}/ownership/confirmed:
    post:
      deprecated: false
      description: Confirms that the specified transaction belongs to your exchange
        (VASP).
      operationId: Transaction_confirmOwnership
      parameters:
      - description: A unique transaction identifier.
        explode: false
        in: path
        name: txnId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Confirm transaction ownership
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-kyt-txns-txnId-ownership-confirmed
      x-accepts: application/json
  /resources/kyt/txns/{txnId}/ownership/unconfirmed:
    post:
      deprecated: false
      description: Removes the ownership from a previously confirmed transaction.
      operationId: Transaction_removeOwnership
      parameters:
      - description: A unique transaction identifier.
        explode: false
        in: path
        name: txnId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Remove transaction ownership
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--resources-kyt-txns-txnId-ownership-unconfirmed
      x-accepts: application/json
  /resources/vasps/-:
    get:
      deprecated: false
      description: Returns a list of VASPs from the Sumsub VASP directory.
      operationId: Vasp_getAvailableVasps
      parameters:
      - description: Maximum number of the VASPs to be returned. The maximum recommended
          value you can set is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          example: 10
          format: int32
          type: integer
          x-konfig-original-example: 10
          x-konfig-generated-schema: konfig-generated-schema-paths--resources-vasps---get-parameters-0-schema
        style: form
      - description: Offset of the VASPs to be returned.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          format: int32
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--resources-vasps---get-parameters-1-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/VaspGetAvailableVaspsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/VaspGetAvailableVasps400Response'
          description: "400"
          x-do-not-generate: true
      summary: Get available VASPs
      tags:
      - VASP
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-vasps--
      x-accepts: application/json
  /resources/auditTrailEvents:
    get:
      deprecated: false
      description: Returns audit trail events.
      operationId: AuditTrailEvent_getEvents
      parameters:
      - description: "The name of the subject for which events are received. If the\
          \ name is not specified, events are received for all subjects on the key."
        explode: true
        in: query
        name: subjectName
        required: false
        schema:
          type: string
        style: form
      - description: "If specified, only events with this activity will be in the\
          \ response."
        explode: true
        in: query
        name: activity
        required: false
        schema:
          type: string
        style: form
      - description: "From the date/time events are received (format yyyy-MM-dd HH:mm:ss,\
          \ e.g. 2022-10-01 12:05:00). If it's not specified - events are received\
          \ from yesterday."
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: "To the date/time events are received (format yyyy-MM-dd HH:mm:ss,\
          \ e.g. 2022-10-01 12:15:00). If it's not specified - events are received\
          \ up to now."
        explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      - description: Max number of events in one request. Can't be more than 20000.
          By default is 10.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: "10"
          example: "10"
          type: string
          x-konfig-original-example: "10"
          x-konfig-generated-schema: konfig-generated-schema-paths--resources-auditTrailEvents-get-parameters-4-schema
        style: form
      - description: Allows to skip the offset events before beginning to return the
          events. By default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: OK
      summary: Audit trail events
      tags:
      - AuditTrailEvent
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-auditTrailEvents
      x-accepts: application/json
  /resources/applicantFraudNetworks:
    get:
      deprecated: false
      description: Returns fraud networks.
      operationId: Applicant_getFraudNetworks
      parameters:
      - description: Offset of the found networks to be returned.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          format: int32
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--resources-applicantFraudNetworks-get-parameters-0-schema
        style: form
      - description: Maximum number of the found networks to be returned. The maximum
          value you can set is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          example: 10
          format: int32
          type: integer
          x-konfig-original-example: 10
          x-konfig-generated-schema: konfig-generated-schema-paths--resources-applicantFraudNetworks-get-parameters-1-schema
        style: form
      responses:
        "200":
          description: OK
      summary: Get fraud networks
      tags:
      - Applicant
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resources-applicantFraudNetworks
      x-accepts: application/json
components:
  schemas:
    ApplicantUpdateTopLevelInfoRequest:
      example:
        sourceKey: sourceKey
        questionnaires:
        - ""
        - ""
        metadata:
        - ""
        - ""
        deleted: true
        externalUserId: externalUserId
        phone: phone
        id: id
        lang: lang
        email: email
      properties:
        id:
          description: A unique applicant identifier.
          type: string
        externalUserId:
          description: An external applicant identifier.
          type: string
        email:
          description: A new email address that you want to assign to the given applicant.
          type: string
        phone:
          description: A new phone number that you want to assign to the given applicant.
          type: string
        sourceKey:
          description: "A new [source key](https://docs.sumsub.com/reference) that\
            \ you want to assign to the given applicant."
          type: string
        lang:
          description: "The language, in which the applicant should see the verification\
            \ results."
          type: string
        questionnaires:
          description: "A [questionnaire](https://docs.sumsub.com/reference) configuration\
            \ with answers."
          items:
            description: "WARNING: Missing items property in array schema. Missing\
              \ items property has been filled with this AnyType schema."
          type: array
        metadata:
[...]
